body {
  background-color: #b7b7b0;
  margin-top: 20px;
}
* {
  line-height: 145%;
}
p, li, td, th, h1, h2, h3, h4, .copyright {
  font-family: Arial, Helvetica, SansSerif;
}
p, li, td, th, h4 {
  font-size: 11pt;  
}
code, pre {
  font-size: 10pt;  
}
.page {
  background-color: #fcfcfa;
  width: 896px;
  margin: 0 auto;
  min-height: 800px;
}
.content {
  margin: 0px 64px 4px 64px;

}
.copyright {
    width: 889px;
    margin: 0px auto;
    text-align: right;
    padding: 4px;
}
.copyright, .copyright * {
    font-size: 9pt;
    color: #333;
}
