body {
  background-color: #b7b7b0;
  margin-top: 20px;
}
* {
  line-height: 145%;
}
p, li, td, th, h1, h2, h3, h4, .copyright {
  font-family: Arial, Helvetica, SansSerif;
}
p, li, td, th, h4 {
  font-size: 11pt;  
}
code, pre {
  font-size: 10pt;  
}
.page {
  background-color: #fcfcfa;
  width: 966px;
  margin: 0 auto;
  min-height: 690px;
}
.content {
  margin: 0px 64px 4px 64px;
  padding-top: 20px;
}
.copyright {
    width: 959px;
    margin: 0px auto;
    text-align: right;
    padding: 4px;
}
.copyright, .copyright * {
    font-size: 9pt;
    color: #333;
}
.header {
  padding: 0px 64px 44px 64px;
  border-bottom: 2px solid #e6e6dd;
  background-color: white;
}
.openSourceLogo {
  margin-top: 38px;
  float: right;
}
.keyPoint {
  font-size: 13pt;
  font-weight: bold;
  display: block;
}
.sidePanel {
  float: right;
  background-color: white;
  width: 368px;
  height: 350px;
  margin: 28px 0px 64px 64px;
  border: 2px solid #e6e6dd;
}